
h3 {
	color: #004040;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
}

td {
	text-align: center;
}

table {
	background-color: green;
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
}

body {
	background-color: #c0c0c0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

td, th {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}